{{ _copier_answers|to_nice_yaml -}}
recorded_setup: true
recorded_repository_name: "{{ repository_name }}"
recorded_author: "{{ author }}"
recorder_email: "{{ email }}"
recorded_github_username: "{{ github_username }}"
recorded_mapp_project: "{{ mapp_project }}"
recorded_mapp_batch: "{{ mapp_batch }}"


